* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
}
.swiper-wrapper {
  width: 100%;
  height: 80vh;
}
.swiper-slide > img {
  width: 100%;
  height: 100%;
}

.navbar {
  height: 10vh;
  width: 100%;
  background-color: #ffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid #ddd;
}
.right {
  width: 35%;
}
.right > ul {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.right ul li {
  list-style-type: none;
}
.right ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(4, 4, 4);
}
.mid {
  width: 20%;
}
.mid > a {
  text-decoration: none;
  color: rgb(13, 12, 12);
  font-size: 3rem;
}
.left {
  width: 20%;
}
.left > ul {
  display: flex;
  justify-content: space-around;
}
.left ul li {
  list-style-type: none;
}
.left ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: rgb(3, 1, 1);
}
/* fav */

.fav > h4 {
  text-align: center;
  margin-top: 3%;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 0.9rem;
}
.fav > h2 {
  text-align: center;
  margin-top: 1%;

  font-weight: 500;
  font-size: 2.3rem;
}
.fav-cart {
  display: flex;
  margin: 2% 0;
  justify-content: space-around;
}
/* electro */
section-electro {
  width: 80%;
  height: 120vh;
  display: flex;
  margin: 10% auto;
}
section-electro > .right {
  width: 50%;
}
section-electro > .right > h5 {
  margin-top: 50%;
  letter-spacing: 0.2rem;
}
section-electro > .right > h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}
section-electro > .right > p {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: lighter;
  word-spacing: 0.3rem;
  line-height: 1.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
section-electro > .right > button {
  margin-top: 1.5rem;
  height: 6%;
  width: 35%;
  background-color: rgb(250, 206, 147);
  border: none;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}
section-electro > .right > button:hover {
  background-color: black;
  color: rgb(250, 206, 147);
}

section-electro > .left {
  width: 50%;
}
section-electro > .left > img {
  width: 100%;
  height: 100%;
}
/* whey */

section-whey{
    width: 80%;
    height: 120vh;
    display: flex;
    margin: 10% auto;
    gap: 5%;
}
section-whey > .left {
  width: 50%;
}
section-whey > .left > img {
  width: 100%;
  height: 100%;
}
section-whey > .right {
  width: 50%;
}
section-whey > .right > h5 {
  margin-top: 50%;
  letter-spacing: 0.2rem;
}
section-whey> .right > h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}
section-whey > .right > p {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: lighter;
  word-spacing: 0.3rem;
  line-height: 1.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
section-whey > .right > button {
  margin-top: 1.5rem;
  height: 6%;
  width: 35%;
  background-color: rgb(250, 206, 147);
  border: none;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}
section-whey> .right > button:hover {
  background-color: black;
  color: rgb(250, 206, 147);
}
/* Amino*/
section-Amino {
  width: 80%;
  height: 120vh;
  display: flex;
  margin: 10% auto;
}
section-Amino > .right {
  width: 50%;
}
section-Amino > .right >.inner-right > h5 {
  margin-top: 50%;
  letter-spacing: 0.2rem;
  
}
section-Amino > .right >.inner-right > h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}
section-Amino > .right >.inner-right > p {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: lighter;
  word-spacing: 0.3rem;
  line-height: 1.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
section-Amino > .right >.inner-right > button {
  margin-top: 1.5rem;
  height: 6%;
  width: 35%;
  background-color: rgb(250, 206, 147);
  border: none;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}
section-Amino > .right >.inner-right > button:hover {
  background-color: black;
  color: rgb(250, 206, 147);
}
section-Amino>.right>.inner-right{
  height: 70%;
  width: 85%;
  margin: 30% auto;
  background-color: #f2efec;
  text-align: left;
  padding: 1px;
}

section-Amino > .left {
  width: 50%;
}
section-Amino > .left > img {
  width: 100%;
  height: 100%;
}
/* immunity */

section-immunity{
  width: 80%;
  height: 120vh;
  display: flex;
  margin: 10% auto;
  gap: 5%;
}
section-immunity > .left {
width: 50%;
}
section-immunity > .left > img {
width: 100%;
height: 100%;
}
section-immunity > .right {
width: 50%;
}
section-immunity > .right > h5 {
margin-top: 50%;
letter-spacing: 0.2rem;
}
section-immunity> .right > h2 {
margin-top: 1rem;
font-size: 2.5rem;
font-weight: 500;
}
section-immunity > .right > p {
margin-top: 1.5rem;
font-size: 1.1rem;
font-weight: lighter;
word-spacing: 0.3rem;
line-height: 1.7rem;
font-family: Georgia, "Times New Roman", Times, serif;
}
section-immunity > .right > button {
margin-top: 1.5rem;
height: 6%;
width: 35%;
background-color: rgb(250, 206, 147);
border: none;
font-weight: bolder;
letter-spacing: 0.1rem;
}
section-immunity> .right > button:hover {
background-color: black;
color: rgb(250, 206, 147);
}
/* coach */
.wrapper-coach{
  width: 100%;
  height:80vh ;
  background-color: #f9f6ef;
}
section-coach {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: 10% auto;
}
section-coach > .right {
  width: 50%;
}
section-coach > .right > h5 {
  margin-top: 50%;
  letter-spacing: 0.2rem;
}
section-coach > .right > h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}
section-coach > .right > p {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: lighter;
  word-spacing: 0.3rem;
  line-height: 1.7rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
section-coach > .right > button {
  margin-top: 1.5rem;
  height: 6%;
  width: 35%;
  background-color: rgb(250, 206, 147);
  border: none;
  font-weight: bolder;
  letter-spacing: 0.1rem;
}
section-coach > .right > button:hover {
  background-color: black;
  color: rgb(250, 206, 147);
}

section-coach > .left {
  width: 50%;
}
section-coach > .left > img {
  width: 100%;
  height: 100%;
}
/* pursuit */

pursuit{
  height: 80vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
pursuit>h2{
  font-size: 2.5rem;
  font-weight: 100;
}
pursuit>p{
  margin: 1rem 0;
  line-height: 1.7rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
pursuit>h5{
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
pursuit>h5:hover{
  color: #face93;
}
/* journal */

.wrapper-journal{
  height: 120vh;
  width: 100%;
  background-color: #f9f6ef;
}
.nack{
  text-align: center;
  font-size: 2rem;
  padding: 10% 0;

}
.card{
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  gap: 1rem;

}
.card-1{
  height: 100%;
  width: 33%;

}
.card-1>img{
  height: 25%;
  width: 100%;
}
.card-1>h2{
  margin: 2rem 0;
}
.card-1>p{
  margin: 2rem 0;
  word-spacing: 0.2rem;
}
.card-1>a{
  color: black;
  
}
.card-1>a:hover{
  color: #face93;
}
footer{
  height: 70vh;
  width: 100%;
  background-color: black;
  color: white;
}
.foot{
  height: 90%;
  width: 80%;
  display: flex;
}
.nack{
  width: 20%;

}
.social{
  width: 20%;
  margin-top: 11%;

}
.social>i{
  margin-left: 3%;
}
.in-touch>h2{
  font-size: 2rem;
  margin: 1rem 0;
}
.email{
  display: block;
  background: transparent;
  border: 2px solid white;
  height: 10%;
  width: 100%;
  padding: 3%;
}
.check{
margin: 2% 0;
}
.join{
  display: block;
  width: 100%;
  height: 10%;
  background-color: #face93;
  margin-top: 4% ;
  border-radius: 10px;
}
.copywrite{
  text-align: center;
}

